.cpt-review-full-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f0e6d3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.cpt-review-full-box:last-child {
  border-bottom: none;
}
.cpt-review-box-one {
  background: #fbf9ec;
  border: 1px solid #f0e6d3;
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cpt-review-box-two {
  flex: 2;
  padding: 20px;
}
.cpt-age-range,
.cpt-review-date {
  display: flex;
  justify-content: space-between;
}

.cpt-review-box-one .cpt-name,
.cpt-age-range span,
.cpt-review-content span,
.cpt-review-date .cpt-date {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #661415;
}
.cpt-review-box-one .cpt-verify-buer span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #e07c3d;
}
.cpt-review-box-one .cpt-verify-buer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cpt-review-box-one .cpt-verify-buer img {
  width: 14px;
  height: 14px;
}
.cpt-review-box-two .cpt-review-count {
    color: #E07C3D;
}
.cpt-review-box-two .cpt-review-date {
    margin-bottom: 10px;
}